# CMake build files
build
CMakeCache.txt
CMakeFiles

# Installed files
yoro/bin
yoro/include
yoro/lib

# Temp file
*.swp

# Python
*.pyc
__pycache__

# Backup files
*.backup
*.sdict

# Model files
*.zip

# Files for YouCompleteMe
.ycm_extra_conf.py
compile_commands.json
