# CMake build files
build
py_build
CMakeCache.txt
CMakeFiles

# Python package
*.egg-info
dist

# Installed files
yoro/bin
yoro/include
yoro/lib

# Temp file
*.swp

# Python
*.pyc
__pycache__

# Backup files
*.backup
*.sdict

# Model and weight files
*.zip
*.pth

# Files for YouCompleteMe
.cache
.ycm_extra_conf.py
compile_commands.json
